      <!-----------------------SECTION NEWS------------------------>
      <section class="newsSection ml-5">
        <div class="row">
          <div class="card-group text-center">
            <div class="card m-3" *ngFor="let i of card">
              <img class="card-img-top h-75" [src]="i.img" alt="Card image cap">
              <div class="card-body font-weight-light">
                <h4 class="card-title">{{i.h4Data}}<span class="border-bottom border-dark">{{i.spanData}}</span></h4>
                <p class="card-text">{{i.pData}}</p>
                <button class="btn-lg btn-outline-dark px-5">{{i.buttonData}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card-group text-center">
            <div class="card m-3" *ngFor="let i of card1">
              <img class="card-img-top h-75" [src]="i.img">
              <div class="card-body font-weight-light">
                <h4 class="card-title">{{i.h4Data}}</h4>
                <p class="card-text">{{i.pData}}</p>
                <button class="btn-lg btn-outline-dark px-5">{{i.buttonData}}</button>
              </div>
            </div>
          </div>
        </div>
      </section>
