<section class="bannerSection">
    <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
        <li data-target="#slider" data-slide-to="3"></li>
        <li data-target="#slider" data-slide-to="4"></li>
        <li data-target="#slider" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let i of carouselItem" [ngClass]="{'active': i.active == true }">
          <img class="d-block w-100 img-fluid" [src]="i.img" alt="image carousel">
          <div class="carousel-caption oneCaption text-left d-none d-md-block">
            <div class="w-50 head">
              <h4 class="text-light">{{i.h4Data}}</h4>
            </div>
            <div class="body">
              <h1 class="">{{i.h1Data}}</h1>
              <button class="btn btn-outline-light btn-lg font-weight-bold w-50">{{i.buttonData}}</button>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </section>