<div class="footer">
  <section class="mt-5 ml-5">
    <h6 class="text-muted ml-5 my-4">VISIT OUR BLOG</h6>
    <div class="row mt-4 d-flex text-center  flex-sm-column flex-md-row justify-content-around align-items-center mr-5">
      <a class="mb-3 imgFather" href="#" *ngFor="let i of imgPublicidad"><img class="tramontanaImg" [src]="i.img" alt="mtn-world-logo"></a>
      <button class="btn btn-dark rounded-0 px-3">SUSCRIBE TO OUR NEWSLETTER</button>
    </div>
  </section>
  <div class="f-top">
    <div class="row">
      <div class="col-12 mb-2 col-md-3 d-flex justify-content-center align-items-center">
        <img class="mtn-logo" src="../../../assets/img/footer/mtn-completo.png" alt="MTN LOGO">
      </div>
      <div class="d-none col-3 d-md-flex flex-column">
       <span class="my-2" *ngFor="let i of column1"><a class="font-weight-bold" href="">{{i.a}}</a></span>
      </div>
      <div class="d-none col-3  d-md-flex flex-column">
       <span class="my-2" *ngFor="let i of column2"><a class="font-weight-bold" href="">{{i.a}}</a></span>
      </div>
      <div class="col-12 col-md-3 text-center text-md-left">
        <div *ngFor="let i of column3">
         <p class="p-top m-0">{{i.pTop}}</p>
         <a class="a-mid" href="">{{i.a}}</a>
         <p class="p-bottom">{{i.pBottom}}</p>
        </div>
      </div>
    </div>
    <div class="row ml-1">
      <div class="d-flex justify-content-center">
        <span *ngFor="let i of imgPagos"><img class="logos-pago" [src]="i.img" alt=""></span>
      </div>
    </div>
  </div>
<div class="row p-3 legalDisclaimer-cookies">
  <div class="">
    <span class="d-none ml-4 d-sm-flex">MONTANA COLORS S.L. · Pl. Clot del Tufau 4, 08295, Sant Vicen de Castellet, Barcelona, Spain · : (+34) 93 833 27 87 · montana@montanacolors.com
    </span>
  </div>
  <div class="mx-auto mt-2">
    <a class="" href="">Legal Disclaimer</a>
    <a class="ml-3" href="">Cookies</a>
  </div>
</div>
</div>