.navbar-brand{
    font-family: 'Lobster', cursive;
}
.navbar-brand:first-child{
    font-size: 2em;
}
.nav-item:hover{
    cursor: pointer;
}
.navbar-nav .nav-link,.search {
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-link{
    border-bottom: 4px solid #F8F9FA;
    transition: 0.3s;
}
.link-spray:hover{
    color:#E74C3C!important;
    border-bottom: 4px solid #E74C3C;
}
.link-markers:hover{
    color:#E67E22!important;
    border-bottom: 4px solid #E67E22;
}
.link-accessories:hover{
    color:#F1C40F!important;
    border-bottom: 4px solid #F1C40F;
}
.link-distribution:hover{
    color: #2ECC71!important;
    border-bottom: 4px solid #2ECC71;
}
.link-store{
    background-color: #1ABC9C;
    color: white;
    border-bottom: 4px solid #1ABC9C;
}
.link-store:hover{
    color: #1ABC9C!important;
    border-bottom: 4px solid #1ABC9C;
    background-color: #F8F9FA;
}
.search{
    transition: 0.3s;
}
.search:hover{
    background-color: #1ABC9C;
    color: white!important;
}
.logo{
    height: 1.2em;
    padding-bottom: 10px;
}
.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
}