<!--------------------CAROUSEL  PROTECTION & SAFETY ----------------------------->
<section id="protectionysafety" class="d-none d-md-block mt-2 sectionProtectionySafetyMd">
    <div id="slider24" class="carousel slide carousel-fade slider" data-ride="carousel">
      <div class="carousel-inner inner embed-responsive embed-responsive-16by9">
        <div class="carousel-item  embed-responsive-item active">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="img carousel">
              </div>
              <div class="carousel-caption caption d-none d-md-block text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item embed-responsive-item">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem1">
              <div class="container m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="img carousel">
              </div>
              <div class="carousel-caption caption d-none d-md-block text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev i-slider" href="#slider24" role="button" data-slide="prev">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next i-slider" href="#slider24" role="button" data-slide="next">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
    <!--------------------CAROUSEL PROTECTION & SAFETY SM----------------------------->
    <section id="protectionysafetySM" class="container d-md-none">
      <div class="row m-auto">
        <div id="slider25" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider25" data-slide-to="0" class="active"></li>
            <li data-target="#slider25" data-slide-to="1"></li>
            <li data-target="#slider25" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner bg-light">
            <div class="carousel-item  mb-4" [ngClass]="{'active': i.active==true}" *ngFor="let i of carouselItemSm">
              <div class="container mt-4">
                <img class="d-block img-sm-carousel w-100 img-hover" [src]="i.img" alt="img carousel">
              </div>
              <div class="text-dark mt-4 ml-5">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#slider25" role="button" data-slide="prev">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a class="carousel-control-next" href="#slider25" role="button" data-slide="next">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
