<div class="row mb-1">
    <div class="col">
      <h1 class="h1Spray mt-1 ml-3">Spray</h1>
    </div>
    <div class="col">
      <ul class="d-flex">
        <li class="mx-3 l-none mt-5" >
          <button class="" (click)="showGraffiti()">Graffiti & Fine Art</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showCaps()">Caps</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showPro()">Pro</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showLE()">Limited Edition</button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="carouselGraffiti" *ngIf="isShowGraf">
      <app-carousel-multi-item-graffiti></app-carousel-multi-item-graffiti>
    </div>
    <div class="carouselCaps" *ngIf="isShowCaps">
      <app-carousel-multi-item-caps></app-carousel-multi-item-caps>
    </div>
    <div class="carouselPro" *ngIf="isShowPro">
      <app-carousel-multi-item-pro></app-carousel-multi-item-pro>
    </div>
    <div class="carouselPro" *ngIf="isShowLE">
      <app-carousel-multi-item-le></app-carousel-multi-item-le>
    </div>
  </div>