<div class="row mb-1">
    <div class="col">
      <ul class="d-flex justify-content-center mr-5">
        <li class="mx-3 l-none mt-5" >
          <button class="" (click)="showData($event)">Graffiti & Fine Art</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showData($event)">Caps</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showData($event)">Pro</button>
        </li>
        <li class="mx-3 l-none mt-5">
          <button class="" (click)="showData($event)">Limited Edition</button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="carouselGraffiti">
        <app-carousel-multi-item  [data]="data"></app-carousel-multi-item>
    </div>
  </div>