.h1Spray{
    font-size: 4.5rem;
    font-weight: bold;

}
.l-none{
    list-style: none;
    text-decoration: none;
    font-size: 3.5vh
}
.l-none button{
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
}
.l-none button:hover{
    color: gray;
    text-decoration: none;
}