.h1Spray{
    font-size: 4.5rem;
    font-weight: bold;
}
.l-none{
    list-style: none;
    text-decoration: none;
    font-size: 3.3vh
}
.l-none button{
    border: 2px solid #dddd;
    border-collapse: collapse;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
}
.l-none button:hover{
    color: gray;
    text-decoration: none;
}