<div class="row mb-1">
    <div class="col">
      <h1 class="h1Spray mt-1 ml-3">Spray</h1>
    </div>
    <div class="col">
      <ul class="d-flex">
        <li class="mx-3 l-none mt-5" *ngFor="let i of rutas">
          <button class="btnGraffiti" href="#">
            {{i}}
          </button>
          <span class="l-none barrita">|</span>
        </li>
        
        <!--<li class="mx-3 l-none mt-5"><button class="btnCaps" href="#"></button></li>
        <span class="mt-5 l-none">|</span>
        <li class="mx-3 l-none mt-5"><button class="btnPro" href="#"></button></li>
        <span class="mt-5 l-none">|</span>
        <li class="mx-3 l-none mt-5"><button class="btnEL" href="#"></button></li>
        -->
      </ul>
    </div>
  </div>
