*{
    overflow: hidden;
}
.backToHome{
    font-size: 1rem;
}
.subtitleProducts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: gray;
    line-height: 100%;
}
.linkViewMore{
    color: black;
}
.linkViewMore:hover{
    text-decoration: none;
    color: gray!important;
    cursor: pointer;
}
.h1Accesories{
    font-size: 2.6rem;
    font-weight: bold;
}
.listIcon {
    list-style: none;
    text-decoration: none;
}
.listIcon li a img {
    color: black;
    width: 20px;
    height: 20px;
}
.listIcon li a img:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .h1Accesories{
        font-size: 2rem;
        font-weight: bold;
    }
    .backToHome{
        font-size: 1rem;
    }
}