 <!--  BACK TO HOME // SHARE  -->
 <section>
    <app-back-to-home-and-share></app-back-to-home-and-share>
    <!--  SEE ALL -->
    <div class="row mt-1">
        <div class="col ml-5 text-left">
            <h1 class="h1Accesories">Accesories</h1>
        </div>
    </div>
    <div class="carouseles" *ngFor="let i of data">
        <!--  TITLE  -->
        <div class="row">
            <div class="col ml-5 mt-4">
                <p class="subtitleProducts">{{i.name}}</p>
            </div>
            <div class="col d-flex text-right mt-4 justify-content-end mr-3">
                <a class="linkViewMore"><span>See All <i class="fas fa-arrow-circle-right"></i></span></a>
            </div>
        </div>
        <div class="mb-5">
            <app-carousel-multi-item [data]="i"></app-carousel-multi-item>
        </div>
    </div>
</section>
