<!-- CAROUSEL MAIN -->
<div>
    <app-carousel-main></app-carousel-main>
</div>
<div class="container-fluid">
    <main>
        <!--  SAMPLE INDEX  -->
      <div class="mt-4 d-none d-md-block">
        <app-sample-index></app-sample-index>
      </div>
      <div class="row mt-3">
        <div class="col ml-4">
          <p class="subtitleProducts ml-3">Montana Colors Spray Paint Products</p>
        </div>
      </div>
      <!--  See All -->
      <div class="row d-flex">
        <div class="col text-left ml-5">
          <h1 class="h1Spray mt-1">Spray</h1>
        </div>
        <div class="col text-right mr-3 mt-4">
          <a class="linkViewMore" href="graffiti.html"><span>See All <i class="fas fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
      <!--  BUTTONS GRAFFITI  -->
      <section class="ml-3">
        <app-buttons></app-buttons>
      </section>
      <!--  SECTION ONLINE SHOP  -->
      <section class="onlineShop ml-3 mt-3">
        <div class="row mb-1">
          <div class="col">
            <h4 class=" text-muted ml-3">Montana Colors Products</h4>
            <h1 class="h1Spray ml-3">Online Shop</h1>
          </div>
        </div>
         <!--  CAROUSEL ONLINE SHOP  -->
        <div>
            <app-carousel-multi-item [data]="data[0]"></app-carousel-multi-item>
        </div>
      </section>
      <!--  NEWS  -->
      <section>
          <div><app-news></app-news></div>
      </section>
    </main>
</div>
