*{
    overflow: hidden;
}
main{
    font-family: 'Fjalla One', sans-serif;
}
.subtitleProducts{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 100%;
    font-size: 2.2rem;
}
.linkViewMore{
    color: black;
}
.linkViewMore:hover{
    text-decoration: none;
    color: gray!important;
    cursor: pointer;
}
.h1Spray{
    line-height: 100%;
    font-size: 2.6em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .h1Spray{
        font-size: 2rem;
        font-weight: bold;
    }
    .backToHome{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 600px) {
    .subtitleProducts{
        font-size: 1.5rem;
        color: black;
    }
    .h1Spray{
        font-size: 3.3rem;
        font-weight: bold;
    }
}
@media only screen and (min-width: 768px) {
    .subtitleProducts{
        font-size: 1.8rem;
        color: black;
    }
    .h1Spray{
        font-size: 3.5rem;
        font-weight: bold;
    }
}
@media only screen and (min-width: 992px) {
    .subtitleProducts{
        font-size: 2rem;
        color: black;
    }
    .h1Spray{
        font-size: 3rem;
        font-weight: bold;
    }
}