<div class="main">
  <section class="mt-5 d-none d-md-block">
    <div id="slider10" class="carousel slide carousel-fade sectionOnlineShopMd" data-ride="carousel">
      <div class="carousel-inner inner embed-responsive embed-responsive-16by9">
        <div class="carousel-item active embed-responsive-item" >
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="carousel img">
              </div>
              <div class="carousel-caption caption text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  embed-responsive-item">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem1">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="carousel img">
              </div>
              <div class="carousel-caption caption text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  embed-responsive-item">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem2">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="carousel img">
              </div>
              <div class="carousel-caption caption text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  embed-responsive-item">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem3">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="carousel img">
              </div>
              <div class="carousel-caption caption text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  embed-responsive-item">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of carouselItem3">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover" [src]="i.img" alt="carousel img">
              </div>
              <div class="carousel-caption caption text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider10" role="button" data-slide="prev">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#slider10" role="button" data-slide="next">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
  <!--* * * * * * * * * * * CAROUSEL SM * * * * * * * * * * * * * * *-->
  <section  class="container d-md-none">
    <div class="row m-auto">
      <div id="slider11" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider11" data-slide-to="0" class="active"></li>
          <li data-target="#slider11" data-slide-to="1"></li>
          <li data-target="#slider11" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner bg-light">
          <div class="carousel-item mb-4" *ngFor="let i of carouselItemSm" [ngClass]="{'active': i.active==true}">
            <div class="container mt-4" >
              <img class="d-block img-sm-carousel w-100 img-hover" [src]="i.img" alt="img carousel">
            </div>
            <div class="text-dark mt-4 ml-5">
              <h4 class="font-weight-bold">{{i.h4Data}}</h4>
              <p class="font-weight-light">{{i.pData}</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#slider11" role="button" data-slide="prev">
          <i class="fas fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#slider11" role="button" data-slide="next">
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
</div>