<section id="sectionCarousel" class="d-none d-md-block mt-2 sectionMd">
    <div id="slider16" class="carousel slide carousel-fade slider" data-ride="carousel">
      <div class="carousel-inner inner embed-responsive embed-responsive-16by9">
        <div class="carousel-item embed-responsive-item" [ngClass]="{'active': i.active==true}" *ngFor="let i of data; index as j">
          <div class="row">
            <div class="col-4 bg-light" *ngFor="let i of data">
              <div class="container  m-5">
                <img class="d-block w-75 img-hover img-thumbnail" [src]="i.img" alt="img carousel">
              </div>
              <div class="carousel-caption caption d-none d-md-block text-dark">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev i-slider" href="#slider16" role="button" data-slide="prev">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next i-slider" href="#slider16" role="button" data-slide="next">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
    <!--------------------CAROUSEL SM----------------------------->
    <section id="secSM" class="container d-md-none">
      <div class="row m-auto">
        <div id="slider17" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner bg-light">
            <div class="carousel-item  mb-4" [ngClass]="{'active': i.active==true}" *ngFor="let i of data">
              <div class="container d-flex justify-content-center mt-4">
                <img class="img-thumbnail w-75 img-hover" [src]="i.img" alt="img carousel">
              </div>
              <div class="text-dark mt-4 ml-5">
                <h4 class="font-weight-bold">{{i.h4Data}}</h4>
                <p class="font-weight-light">{{i.pData}}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#slider17" role="button" data-slide="prev">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a class="carousel-control-next" href="#slider17" role="button" data-slide="next">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>