@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* ---------- GENERALES ----------*/
*{
    overflow: hidden;
    width: 100%;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
@media only screen and (max-width: 600px) {
    *{
        overflow-x:auto;
    }

}