  <!--  BACK TO HOME // SHARE  -->
  <section>
   <app-back-to-home-and-share></app-back-to-home-and-share>
    <div class="row mt-1">
        <div class="col ml-4 mb-4">
            <h1 class="h1Latas">Spray Paint Products</h1>
        </div>
    </div>
    <div class="carouseles"*ngFor="let i of data">
        <div class="row">
            <!--  TITLE  -->
            <div class="col ml-4 mt-4">
                <p class="subtitleProducts">{{i.name}}</p>
            </div>
            <!--  SEE ALL -->
            <div class="col d-flex text-right justify-content-end mt-5 mr-4">
                <a class="linkViewMore"><span>See All <i class="fas fa-arrow-circle-right"></i></span></a>
            </div>
        </div>
        <!--  CAROUSEL MULTI ITEM -->
        <div>
            <app-carousel-multi-item [data]="i"></app-carousel-multi-item>
        </div>
    </div>
</section>
